@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



/* Coommon Styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

:root {
    --color-1: rgb(254, 163, 1);
    --color-2: rgb(1, 172, 253);
    --color-3: rgb(5, 212, 223);
    --color-4: rgb(93, 88, 239);
    --color-5: rgb(17, 17, 17);
    --color-9: rgb(32, 32, 32);
    --color-10: rgb(128, 128, 128);
    --color-12: rgb(149, 178, 38);



    --color-6: linear-gradient(to top, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3));
    --color-7: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    --color-8: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    --color-11: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

}

a {
    text-decoration: none;

}

section {
    padding: 60px 0px;
}


.btn {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 3vw;
    background: var(--color-1);
    border: none;
    border-radius: 12px;

}

.btn-extra {
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.7rem;
    margin-top: 38px;
}


.section-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}


.card-title {
    color: var(--color-9);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 38px;
}

.card-dis {
    color: var(--color-10);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 38px;
}



/* Nav Style */

nav {
    display: flex;
    justify-content: space-between;

    padding: 20px 0px;
    text-align: center;
    align-items: center;
    margin: 0 10%;
}


.nav-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand-img>img {
    width: 100%;
}

.brand-text {
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
}

.nav-menu {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav-1 {
    color: var(--color-1)
}

.nav-2 {
    color: var(--color-2)
}

.nav-3 {
    color: var(--color-3)
}

.nav-4 {
    color: var(--color-4)
}


.nav-menu-icon {
    display: none;
}


/* Marquee section */

marquee{
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--color-1);
}



/* Banner Section */


.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
    padding: 0 10%;
}

.banner-text {

    text-align: left;
    width: 60%;
}

.banner-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
}

.empower {
    color: var(--color-1);
}

.toword {
    color: var(--color-2);
}

.banner-dis {
    color: rgb(17, 17, 17);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 24px 0px;
}

#enroll {
    background-color: var(--color-5);
}

.banner-img>img {
    width: 100%;
}


/* Main Section */

main {
    background-image: url("../assets/bg.png");

}

/* Curriculum Section */

.curriculum {
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
    padding: 1vw 0vw;
    padding: 0% 10vw;

}

.card {
    display: flex;
    justify-content: space-between;

}

.curriculum-card {
    padding: 62px 30px;
    width: 32%;
    box-sizing: border-box;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.curriculum-card>img {
    width: 50%;
}

.card-1 {
    background: var(--color-7);
}

.card-2 {
    background: var(--color-11);
}

.card-3 {
    background: var(--color-8);
}

.more-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
}

.more-card>p {
    background-color: var(--color-1);
    padding: 25px 30px;
    border-radius: 50%;
}

#btn-1 {
    color: var(--color-2);
}

#btn-2 {
    color: var(--color-1);
}

#btn-3 {
    color: var(--color-4);
}


/* Story Section */

.story {
    text-align: center;
    background: var(--color-6);
    padding: 0% 10vw;
    padding-bottom: 4rem;
    margin-top: 4rem;
}


.stories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border-radius: 10%;
    margin-bottom: 4rem;
}


.story-card-1 {
    position: relative;
    border-radius: 16px;
    background-color: white;
    grid-area: 1 / 1 / 3 / 2;
}

.story-card-1>img {
    width: 40vw;
    height: auto;
    border-radius: 16px 16px 0px 0px;
}

.story-card-2,
.story-card-3,
.story-card-4,
.story-card-5 {
    position: relative;
    border-radius: 16px;
    background-color: white;
}

.story-card-2 img,
.story-card-3 img,
.story-card-4 img,
.story-card-5 img {
    width: 20vw;
    border-radius: 16px 16px 0px 0px;
}



.story-card-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.story-card-3 {
    grid-area: 1 / 3 / 2 / 4;
}

.story-card-4 {
    grid-area: 2 / 2 / 3 / 3;
}

.story-card-5 {
    grid-area: 2 / 3 / 3 / 4;
}

#story-title {
    margin-bottom: 4rem;
}

.story-date {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Raleway", serif;
    font-weight: 500;
    line-height: 1.75rem;
    text-transform: capitalize;

    position: absolute;
    z-index: 10;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--color-2);
    margin-top: -2rem;
    margin-left: 2rem;
}

.story-title {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0%;
    text-align: left;
}

.story-dis {
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    margin: 1rem;
}

#cd-2 {
    background-color: var(--color-12);
}

#cd-3 {
    background-color: var(--color-1);
}

#cd-4 {
    background-color: var(--color-4);
}

#cd-5 {
    background-color: var(--color-3);
}



/* Footer Style */

footer {
    background: var(--color-2);
    padding: 10vw;
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;

}

.f-brand {
    width: 35%;
}

.f-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.f-logo-img {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 50%;

}

.f-logo-text {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
}

.f-logo-dis {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
    margin-top: 35px;
}


.f-about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
}

.f-about-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.f-about a {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.f-social {
    width: 30%;
}

.social {
    padding: 4rem 0rem;
}














/*  Responsive Area */

@media screen and (max-width: 576px) {

    /* Nav Area */

    .brand-text {
        display: none;
    }

    nav {
        margin: 0;
        padding: 1% 5%;
        border: 0.5px solid var(--color-1);
    }

    .nav-menu {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .nav-menu-icon {
        display: contents;
    }

    .nav-menu-icon button {
        background: none;
        border: none;
        font-size: 2rem;
    }

    /* marquee */
    marquee{
        margin-top: 10px;
    }

    /* Banner Area */

    .banner {
        padding: 0 5%;
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner br {
        display: none;
    }

    .banner-text {
        width: 100%;
        text-align: center;
    }

    .banner-title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 3rem;
        letter-spacing: 0%;
        text-align: center;
    }

    .banner-dis {
        margin: 40px 0px;
    }

    #enroll {
        margin-bottom: 50px;
    }

    /* Standard Carriculum */

    .section-title {
        font-size: 1.7rem;
    }

    .card {
        flex-direction: column;
        gap: 2rem;
    }

    .curriculum {
        gap: 20px;
        padding: 0 5%;
    }

    .curriculum-card {
        padding: 36px 28px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 18px;
    }

    .card-dis {
        padding-top: 10px;
        margin: 0;
    }

    .btn-extra {
        margin-top: 0;
    }

    .more-card {
        display: none;
    }


    /* Story Section */

    .story{
        padding: 0 5%;
    }

    .stories {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        border-radius: 10%;
        margin-bottom: 3rem;
    }

    .story-card-1{
        display: none;
    }

    /* .story-card-1, */
    .story-card-2,
    .story-card-3,
    .story-card-4,
    .story-card-5 {
        grid-area: unset;
    }

    /* .story-card-1 img, */
    .story-card-2 img,
    .story-card-3 img,
    .story-card-4 img,
    .story-card-5 img {
        width: 100%;
        height: auto;
    }

    .story-dis {
        display: none;
    }

    .story-date {
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.1rem 0.5rem;
        border-radius: 2rem;
        background-color: var(--color-2);
        margin-top: -1rem;
        margin-left: 2rem;
    }

    .story-title {
        padding-top: 10px;
        margin: 0.8rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0%;
        text-align: left;
    }  
    
    #enroll{
        padding: 10px 50px;
        border-radius: 15px;
    }

    /* Footer Area */

    footer{
        flex-direction: column;
        gap: 4rem;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .f-brand {
        width: 100%;
    }

    .f-about {
        width: 100%;
        gap: 15px;
    }

    .f-social{
        width: 100%;
    }
    .f-about-title{
        margin-bottom: 20px;
    }
    .social {
        padding: 0.5rem 0rem;
    }
    
}